@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Karla");

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin border($style, $radius) {
    border: $style;
    border-radius: $radius;
}

@mixin animation($animation, $duration, $fill-mode) {
    animation: $animation;
    animation-duration: $duration;
    animation-fill-mode: $fill-mode;
}

@mixin keyframes($name) {
    @keyframes header-spawn {
        0% {
            transform: translateY(-500px);
        } 50% {
            transform: translateY(20px);
        } 100% {
            transform: translateY(0px);
        }
    }
    
    @keyframes sidebar-spawn {
        0% {
            transform: translateX(-500px);
        }
        50% {
            transform: translateX(20px);
        }
        100% {
            transform: translateX(0px);
        }
    }

    @keyframes list-spawn {
        from {
            transform: translateY(1000px);
        }
        to {
            transform: translateY(0px);
        }
    }

    @keyframes prompt-spawn {
        0% {
            opacity: 0%;
        } 100% {
            opacity: 100%;
        }
    }
}

$font-families: (
    "small": "Roboto Mono",
    "main": "Karla"
);

$backgrounds: (
    "transparent": rgba(0, 0, 0, 0),
    "form": rgba(0, 0, 0, 0.5)
);

$small-font: "Roboto Mono";
$main-font: "Karla";

$transparent: rgba(0, 0, 0, 0);
$form-bg: rgba(0, 0, 0, 0.5);

$primary-bg: lightgrey;
$secondary-bg: white;
$close-bg: rgb(194, 27, 27);

$white-text: white;