// Import partial stylesheets
@import 'reset', 'typography', 'mixins', 'animations', 'colors';

* {
    font-family: $main-font;
}

body {
    background-color: $primary-bg;

    #content {
        @include grid(1fr 2px 4fr, 1fr 2px 4fr);
        height: 100vh;
        width: 100vw;
    
        position: absolute;
        z-index: 0;
    
        #header {
            @include grid-loc(1/#{2}, 1/#{-1});
        
            background: $primary-bg;
            position: relative;
            transform: translateY(-500px);
            z-index: 2;
            padding: 5px 0 5px 0;
        
            @include flex(row, space-around, center);
            @include animation(header-spawn, 1s, forwards);
        
            h1 {
                font-size: 4rem;
            }
        
            #header-buttons {
                @include flex(row, center, center);
                gap: 20px;
        
                button {
                    @include border(none, 5px);
                
                    font-family: $small-font;
                    font-size: 1rem;
                
                    padding: 20px 40px;
                
                    &:hover {
                        scale: 90%;
                    }
                }
    
                #login-button {
                    @include flex(row, center, center);
                    gap: 10px;
                }
                
                #menu-button {
                    @include flex(row, center, center);
                    padding: 20px 40px;
                    transition: 0.25s;
                
                    &:hover {
                        padding: 20px 120px;
                        transition: 0.25s;
                    }
                }
            }
        }
        
        #sidebar {
            @include grid-loc(3/#{4}, 1/#{2});
        
            background: $primary-bg;
            position: relative;
            z-index: 1;
            padding: 20px;
        
            @include animation(sidebar-spawn, 1s, forwards);
        
            @include grid(repeat(4, minmax(50px, 80px)) auto minmax(50px, 80px), 1fr);
            justify-content: center;

            button {
                @include flex(row, center, center);
                font-size: 1.25rem;
            
                @include border(none, none);
                background-color: $transparent;
            
                &:hover {
                    cursor: pointer;
                    scale: 90%;
                }
            }
        
            #{&}-inbox {
                @include grid-loc(1/#{2}, 1/#{-1});
            }
            
            #{&}-today {
                @include grid-loc(2/#{3}, 1/#{-1});
            }
            
            #{&}-calendar {
                @include grid-loc(3/#{4}, 1/#{-1});
            }
            
            #{&}-projects {
                @include grid-loc(4/#{5}, 1/#{-1});
            }
            
            #sidebar-list {
                @include grid-loc(5/#{6}, 1/#{-1});

                button {
                    @include border(none, none);
                    font-size: 1.25rem;
                    font-family: $small-font;
                    background-color: $transparent;
                
                    @include flex(row, center, center);
                    padding-left: 20%;
                    gap: 5px;

                    img {
                        height: 2rem;
                    }
                }
            }
            
            #{&}-add {
                @include grid-loc(6/#{7}, 1/#{-1});
            }

            .projects-closed {
                display: none;
            }
        }
    
        #content-wrapper {
            @include grid-loc(3/#{4}, 3/#{4});
        
            background: white;
            position: relative;
            z-index: 0;
        
            @include flex(row, center, center);
            @include animation(list-spawn, 0.5s, forwards);
    
            #reset-layout {
                position: absolute;
                bottom: 0%;
                right: 0%;
            
                border: none;
                background: $transparent;
                
                transition: 0.25s;
            
                &:hover {
                    cursor: pointer;
                    bottom: 2%;
                    right: 2%;
                    scale: 120%;
                }
            }
    
            #calendar {
                @include grid(repeat(auto-fill, 1fr) / repeat(7, minmax(100px, 1fr)), 1fr);
            
                h2, h3, div {
                    @include flex(row, center, center);
                }
    
                #calendar-month {
                    @include grid-loc(1/#{2}, 1/#{-1});
                }
    
                .calendar-header {
                    @include grid-loc(2/#{3}, 1/#{-1});
                    /*
                    grid-row: 2 / 3;
                    */
                }
                
                .calendar-day {
                    @include grid-loc(3/#{4}, 1/#{-1});
                    /*
                    grid-row: 3 / 4;
                    */
                }
            }
    
            .list-content {
                @include flex(column, center, center);
    
                #add-task {
                    @include flex(row, center, center);
                    gap: 10px;
                
                    font-size: 1.25rem;
                    border: none;
                    padding: 10px 20px;
                
                    img {
                        height: 36px;
                    }
                }
            }
        }
    
        #gutter-col {
            @include grid-loc(3/#{4}, 2/#{3});
            justify-self: center;
        
            position: relative;
            z-index: 1;
        
            background-color: black;
            width: 2px;
            transition: 0.5s;
        
            @include animation(sidebar-spawn, 1s, forwards);
        
            &:hover {
                cursor: col-resize;
                width: 30px;
            }
        }
        
        #gutter-row {
            @include grid-loc(2/#{3}, 1/#{-1});
            align-self: center;
        
            position: relative;
            z-index: 2;
        
            background-color: black;
            height: 2px;
            transition: 0.5s;
        
            @include animation(header-spawn, 1s, forwards);
        
            &:hover {
                cursor: row-resize;
                height: 30px;
            }
        }
    }

    .popup-screen {
        background-color: $form-bg;
    
        height: 100vh;
        width: 100vw;
    
        position: absolute;
        z-index: 1;
    
        @include animation(prompt-spawn, 0.25s, forwards);
        @include flex(row, center, center);

        .popup-prompt {
            background: white;
            border-radius: 25px;
            box-shadow: 5px 5px 20px #000000;
        
            height: 250px;
            width: 500px;
        
            @include flex(column, center, center);
            @include animation(header-spawn, 0.5s, forwards);
            gap: 5px;

            form {
                @include flex(column, space-evenly, center);
                gap: 10px;

                .input-field {
                    @include flex(row, space-between, center);
                }
            }

            .button-close {
                position: absolute;
                top: 0;
                left: 0;
            
                background-color: $close-bg;
                color: $white-text;
                font-size: 2rem;
                font-weight: 700;
            
                height: 50px;
                width: 50px;
            
                border-top-left-radius: 25px;
                border-bottom-right-radius: 10px;
            }
        }
    }
}